src/test/resources/teststub-services/carelisting-teststub-service.xml
<?xml version="1.0" encoding="utf-8"?>

<mule 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:https="http://www.mulesoft.org/schema/mule/https" 
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-current.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
		http://www.mulesoft.org/schema/mule/core      http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http      http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/https     http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
		http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

 	<object-to-string-transformer name="toString"/> 	

	<flow name="carelisting-testService-HVAL">
		<composite-source>
			<!-- To be called by a Virtual Service with normal HTTPS according to RIV-TA 2.x -->
			<https:inbound-endpoint
	            connector-ref="hval24-https-connector"
				address="${inbound.https.endpoint.hval24.getlisting.teststub}" exchange-pattern="request-response" transformer-refs="toString" />
			<!-- To be called by an integration test for simplicity, i.e. without HTTPS-->
			<http:inbound-endpoint
	            connector-ref="soitoolkit-http-connector"
				address="${inbound.http.endpoint.hval24.getlisting.teststub}" exchange-pattern="request-response" transformer-refs="toString" />
		</composite-source>
			
			<scripting:component>
				<scripting:script engine="groovy">
					<![CDATA[
	                	String personId = payload.substring(payload.length() - 12); // Assume personId is the last 12 characters in the payload (format yyyymmddxxxx) 
						String s = 
							"1750" +  			                                                  // Length of return string
							"    0" +  			                                                  // Return Code
//							"191212121212" +                                                      // Personnummer
							personId +                                                            // Personnummer
							"Kalle                                   " +                          // Förnamn
							"Kula                                    " +                          // Efternamn
							"Gatan 1                                 " +                          // Adress
							"12345" +                                                             // Postnummer
							"STADEN                                  " +                          // Postadress
							"2244" +                                                              // Församlingskod
							"FoRSAMLING                              " +                          // Församlings namn
							"3366" +                                                              // Kommunkod
							"KOMMUN A                                " +                          // Kommun namn
							"7799" +                                                              // Länskod
							"LAN X                                   " +                          // Länsnamn
							"0" +    			                                                  // Hemlig adress
							"1990-01-01" +    			                                          // Till och med datum
							"003" +    			                                                  // Avregistreringsorsak
							"001" +   			                                                  // Insättningsorsak
							
							"01" +    			                                                  // Listning 1 valtyp
							"2423423876                                                      " +  // Listning 1 kod
							"Vardgivare A                            " +                          // Listning 1 namn
							"2009-12-01" +   			                                          // Listning 1 anmälningsdatum
							"232237375347598347                                              " +  // Listning 1 vårdenhetskod
							"Vardenhet X                             " +                          // Listning 1 vårdenhetsnamn
							
							"00" +   			                                                  // Listning 2 valtyp
							"2423423876                                                      " +  // Listning 2 kod
							"Vardgivare A                            " +                          // Listning 2 namn
							"2009-12-01" +   			                                          // Listning 2 anmälningsdatum
							"232237375347598347                                              " +  // Listning 2 vårdenhetskod
							"Vardenhet X                             " +                          // Listning 2 vårdenhetsnamn
							
							"00" +   			                                                  // Listning 3 valtyp
							"2423423876                                                      " +  // Listning 3 kod
							"Vardgivare A                            " +                          // Listning 3 namn
							"2009-12-01" +   			                                          // Listning 3 anmälningsdatum
							
							"01" +    			                                                  // Olistning 1 valtyp
							"2423423876                                                      " +  // OListning 1 kod
							"sdslfjdskj                                                      " +  // OListning 1 namn
							
							"01" +    			                                                  // Olistning 2 valtyp
							"2423423876                                                      " +  // OListning 2 kod
							"sdslfjdskj                                                      " +  // OListning 2 namn
							
							"01" +   			                                                  // Olistning 3 valtyp
							"2423423876                                                      " +  // OListning 3 kod
							"sdslfjdskj                                                      " +  // OListning 3 namn
							
							"01" +   			                                                  // Olistning 4 valtyp
							"2423423876                                                      " +  // OListning 4 kod
							"sdslfjdskj                                                      " +  // OListning 4 namn
							
							"112233" +   			                                              // Betjäningsområde
							"klwsafdnklejf                                                   " +  // Betjäningsområde namn
							"0" +   			                                                  // Har särskilt boende
							"0" +   			                                                  // Har hemsjukvård
							"                                                                " +  // Särskilt boende namn
							"                                                                " +  // Särskilt boende kod
							"          " +    			                                          // Särskilt boende inskrivningsdatum
							"                                                                " +  // HemHLM namn
							"                                                                " +  // HemHLM kod
							"_"    			                                                      // Postslut
						return s
					]]>
				</scripting:script>
			</scripting:component>
		</flow>
</mule>