Hval24AdapterIC/src/main/app/GetListing-hval-service.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xsi:schemaLocation="
               http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans-current.xsd
               http://www.mulesoft.org/schema/mule/core       http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-2.5.xsd
               http://www.mulesoft.org/schema/mule/http       http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/https      http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
               http://www.mulesoft.org/schema/mule/cxf        http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">


	<flow name="hval-crm-carelisting-GetListing-1-RIVTABP20-GetListing">

		<http:inbound-endpoint
            connector-ref="soitoolkit-http-connector"
			address="${inbound.endpoint.hval24.getlisting}"
			exchange-pattern="request-response"
			transformer-refs="objToStr logReqIn"
			responseTransformer-refs="createSoapFaultIfException logRespOut" />
			
        <cxf:proxy-service 
            service="GetListingResponderService"
            wsdlLocation="classpath:/schemas/GetListingInteraction_1.0_rivtabp20.wsdl" 
            namespace="urn:riv:crm:carelisting:GetListing:1:rivtabp20"
            payload="envelope">
        </cxf:proxy-service>

        <custom-transformer doc:name="transform-request" class="se.skltp.adapterservices.crm.carelisting.hval24adapter.transformers.Carelist2HvalTransformer"/>
        <response>
            <custom-transformer doc:name="transform-response" class="se.skltp.adapterservices.crm.carelisting.hval24adapter.transformers.Hval2CarelistTransformer"/>
        </response>
         
		<https:outbound-endpoint 
            connector-ref="hval24-https-connector"
			address="${outbound.endpoint.hval24.getlisting}#[payload]" 
			exchange-pattern="request-response"
			method="GET"
			responseTimeout="${SERVICE_TIMEOUT_MS}"
			transformer-refs="logReqOut"
			responseTransformer-refs="logRespIn">
		</https:outbound-endpoint>
 
		<custom-exception-strategy class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy"/>
	</flow>

<!-- 
	<custom-transformer name="carelist2Hval" class="se.skltp.adapterservices.crm.carelisting.hval24adapter.transformers.Carelist2HvalTransformer"/>
	<custom-transformer name="hval2Carelist" class="se.skltp.adapterservices.crm.carelisting.hval24adapter.transformers.Hval2CarelistTransformer"/>
		<flow name="hval-crm-carelisting-GetListing-1-RIVTABP20-GetListing">
			<inbound>
				<cxf:inbound-endpoint 
					address="${inbound.endpoint.hval24.getlisting}"
					wsdlLocation="classpath:/schemas/GetListingInteraction_1.0_rivtabp20.wsdl"
					serviceName="GetListingResponderService"
					namespace="urn:riv:crm:carelisting:GetListing:1:rivtabp20"
					proxy="true" 
					synchronous="true">
				</cxf:inbound-endpoint>					
			</inbound>
			
            <outbound>
                <pass-through-router>
                        <https:outbound-endpoint 
                        	address="${outbound.endpoint.hval24.getlisting}#[payload]"
    	                	transformer-refs="carelist2Hval" 
	    	        		responseTransformer-refs="hval2Carelist"
            	        	synchronous="true"
                	    	method="GET"
                    /> 
                </pass-through-router>
            </outbound>
		</service>
		
	</model>
 -->		
</mule>
